# Created by https://www.toptal.com/developers/gitignore/api/java,maven,spring,intellij,eclipse,vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=java,maven,spring,intellij,eclipse,vscode

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Maven ###
# Maven target folder
target/

# Maven re-run files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

### Spring ###
# Spring Boot JAR file
*.jar

# Spring Boot WAR file
*.war

### IntelliJ ###
# Covers JetBrains IDEs: IntelliJ IDEA, PhpStorm, WebStorm, PyCharm, RubyMine, AppCode, CLion, GoLand, DataGrip, Rider, Android Studio
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/libraries/
.idea/shelf/

# Sensitive or high-churn files
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/dbnavigator.xml

# Gradle
.idea/gradle.xml
.idea/assetWizardSettings.xml

# Docker
.idea/docker-compose.xml

# Miscellaneous
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations/
.idea/prettier.xml
.idea/sonarlint/

# Editor-based Rest Client
.idea/httpRequests/

# AWS Toolkit
.idea/aws.xml

# Build folder
out/

# JRebel text files
*___jb_jrebel_LICENSE.txt
*___jb_jrebel_bootstrap.jar
*___jb_old___*

# Project metadata
*.iml
*.ipr
*.iws

# Mac OS files
.DS_Store

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project

# External tool builders
.externalToolBuilders/

# Locally stored OSTher files
.classpath

# JDT-specific files
.pde/

### VisualStudioCode ###
.vscode/
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/java,maven,spring,intellij,eclipse,vscode